.study
 width: 100%;
 padding-top: 100px;
 &__wrapper
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(600px, auto);
  column-gap: 70px;
  & img
   max-width: 400px;
   display: block;
   margin: 0 auto;
 &__list
  list-style: none;
  margin-left: 20px;
 & li 
  position: relative;
  &::before
   content: '';
   background: url("../icons/social/arrow-pink.svg") no-repeat 50%/cover;
   display: block;
   left: -20px;
   top: 3px;
   width: 15px;
   height: 15px;
   position: absolute;
   transform: rotate(270deg);
   