.title
 font-weight: 700;
 text-align: center;
 &_fs14
  font-size: 14px;
 &_fs18
  font-size: 18px;
 &_fs22
  font-size: 22px;
  line-height: 24px;
 &_fs48
  font-size: 48px;
  line-height: 60px;
 &_fs36
  font-size: 36px;
 